@font-face {
  font-family: "mainFont";
  src: url(../fonts/main.ttf);
}

.header-logo {
  padding-right: 30px;
}

.bg-dark {
  background-color: #333333 !important;
}

a.navbar-brand {
  font-family: mainFont;
  font-size: 3rem;
  color: #ffffff !important;
}
.nav-link {
  width: 100% !important;
  color: #ffffff !important;
  justify-content: space-around !important;
}

.navbar-nav {
  margin: 0 auto !important;
}
@import "~bootstrap/dist/css/bootstrap.css";
